<!DOCTYPE html>
<html>
  <head>
    <title>amal and denise's web app</title>
  </head>

  <body>
    <h1>Hello amal wake up!</h1>

    <form method="post" action='denise'>
      How many times have you gotten hit in the head with a volleyball?<br>
      <input type="text" name="denise">
      <input type="submit" value="deniska">
    </form>

  </body>

</html>















<!--
 <form method="post" action="/other_side">
  First name:<br>
  <input type="text" name="firstname" value="John"><br>
  <input type="submit" value="Submit">
</form> -->